<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="info.varden.hauk">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@drawable/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".global.ui.AuthorizationActivity"
            android:screenOrientation="portrait">
        </activity>
        <receiver
            android:name=".global.Receiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="info.varden.hauk.START_ALONE_THEN_SHARE_VIA" />
                <action android:name="info.varden.hauk.START_ALONE_THEN_MAKE_TOAST" />
            </intent-filter>
        </receiver>

        <receiver android:name=".notify.CopyLinkReceiver" android:exported="false">
            <intent-filter>
                <action android:name="info.varden.hauk.COPY_LINK" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notify.StopSharingReceiver" android:exported="false">
            <intent-filter>
                <action android:name="info.varden.hauk.STOP_SHARING" />
            </intent-filter>
        </receiver>
        <service android:name=".service.LocationPushService" android:exported="false" android:enabled="true" android:foregroundServiceType="location">
            <intent-filter>
                <action android:name="info.varden.hauk.LOCATION_SERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>
